[Unit]
Description="Switch to light theme"
Conflicts=dark-theme.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=gsettings set org.gnome.desktop.interface color-scheme 'prefer-light'
ExecStart=lookandfeeltool -a org.kde.breeze.desktop
ExecStartPost=/home/linuxbrew/.linuxbrew/bin/notify-send "Switched to light theme"

