[Unit]
Description=KDE PolicyKit Authentication Agent
PartOf=graphical-session.target
After=plasma-core.target
After=graphical-session.target
	
[Service]
ExecStart=/usr/libexec/polkit-kde-authentication-agent-1
BusName=org.kde.polkit-kde-authentication-agent-1
Slice=background.slice
TimeoutStopSec=5sec
Restart=on-failure
