[Unit]
Description="Switch to light or dark theme"
After=niri.service

[Service]
Type=exec
ExecStart=%h/.local/bin/theme-switch -d

[Install]
WantedBy=niri.service
