[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=wlsunset -l 52.00993 -L 4.36047
Restart=on-failure
