[Unit]
Description=Xwayland outside your Wayland
BindsTo=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/xwayland-satellite :69
StandardOutput=journal

[Install]
WantedBy=graphical-session.target
