[user]
  # Subject to change
    email = tudurom@gmail.com
    name = Tudor Roman
    signingkey = @tudurom
[mergetool]
    path = nvim
[commit]
	gpgsign = true
[alias]
    graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
