[submodule "home/startpage"]
	path = home/startpage
	url = https://github.com/tudurom/startpage.git
[submodule "scripts/.scripts/clint"]
	path = scripts/.scripts/clint
	url = https://github.com/tudurom/clint.git
[submodule "startpage/startpage"]
	path = startpage/startpage
	url = https://github.com/tudurom/startpage.git
[submodule "st"]
	path = st
	url = https://github.com/tudurom/st.git
