nvim/.config/nvim/bundle/*
!nvim/.config/nvim/bundle/lightline.vim/autoload/lightline/colorscheme/cloudy.vim
nvim/.config/nvim/tmp

mpd/.mpd/*
!mpd/.mpd/mpd.conf

vimperator/.vimperator/info

wmrc/contrib/killwa/killwa
wmrc/contrib/killwa/killwa.o
wmrc/contrib/killwa/util.o
