nvim/.config/nvim/bundle/
nvim/.config/nvim/autoload
!nvim/.config/nvim/bundle/lightline.vim/autoload/lightline/colorscheme/cloudy.vim
nvim/.config/nvim/tmp
nvim/.config/nvim/.netrwhist
nvim/.config/htop

mpd/.mpd/*
!mpd/.mpd/mpd.conf

st/st
st/st.o

vimperator/.vimperator/info

wmrc/.scripts/xwait

gtk/.config/gtk-2.0/gtkfilechooser.ini
