[submodule "home/.scripts/clint"]
	path = home/.scripts/clint
	url = https://github.com/tudurom/clint.git
[submodule "home/.config/luakit/luakit-adblock"]
	path = home/.config/luakit/luakit-adblock
	url = https://github.com/Plaque-fcc/luakit-adblock/
[submodule "home/startpage"]
	path = home/startpage
	url = https://github.com/tudurom/startpage.git
[submodule "home/khaled"]
	path = home/khaled
	url = https://github.com/onodera-punpun/khaled.git
[submodule "startpage/startpage"]
	path = startpage/startpage
	url = https://github.com/tudurom/startpage.git
[submodule "contrib"]
	path = wmrc/contrib
	url = https://github.com/wmutils/contrib
