! ╻ ╻┏━┓┏━╸┏━┓┏━┓╻ ╻┏━┓┏━╸┏━╸┏━┓
! ┏╋┛┣┳┛┣╸ ┗━┓┃ ┃┃ ┃┣┳┛┃  ┣╸ ┗━┓
! ╹ ╹╹┗╸┗━╸┗━┛┗━┛┗━┛╹┗╸┗━╸┗━╸┗━┛
! by tudurom
! managed like they are supposed to be

Xcursor.theme: HumanAzul

#include ".xres/xft"
#include ".xres/colors/thunder"
#include ".xres/urxvt"
