.window-frame, .window-frame:backdrop {
    box-shadow: 0 0 0 black; /* removes shadow completely */
    border-style: none;
    margin: 0; /* this retains the ability to resize with the mouse, if 1px is too narrow, set some higher values */
    border-radius: 0;
}
